<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
  <script src="./scripts.js"></script>

</head>

<body>

  <div>
    <div class="website">

      <nav class="website-header">
        <section class="header-container">

          <section class="search">
            <div>Australia</div>
            <div>
              <input type="text" name="" id="" placeholder="Search">
            </div>
          </section>
          <section class="heading">
            <h1>AppName</h1>
          </section>
          <section class="links">
            <div>Pricing</div>
            <div>
              <div data-toggle="modal" data-target="#myModalLogin">
                Login
              </div>

            </div>
            <div>
              <div data-toggle="modal" data-target="#myModalRegister">Signup</div>
            </div>
            <div>Contactsss</div>
          </section>
        </section>
      </nav>
      <div class="container">

        <section class="website-body">
          <div class="tagline">

            <div class="mainImage">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQdVF2KLgaSdX0XGTeb0Yq2aV6YzIz5yshLA&usqp=CAU"
                alt="">
            </div>
            <div class="">
              <div>
                <h3>A better place for students to learn and grow</h3>
              </div>
              <div>
                <p>We believe in creating and providing the best tools and content for students to excel. One more line.
                </p>
              </div>
            </div>
          </div>

          <div class="whyAppname">
            <h2>Why Appname works</h2>
            <div>Spaced Repition</div>
            <div>Micro learning</div>
            <div>Third quality</div>
          </div>
          <div class="appname-classes">
            <h3>Grades</h3>
            <div class="row">
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 2</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 3</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 4</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div><br />
            <div class="row">
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 5</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 6</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 7</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div><br />
            <div class="row">
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 8</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="single-grade">

                  <div class="single-subject">

                    <div class="card card-styles">

                      <div class="card-body">
                        <h5 class="card-title">Grade 9</h5>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Maths <span>250 Videos, </span><span>4000 Questions</span></li>
                          <li class="list-group-item">English <span>250 Videos, </span><span>4000 Questions</span></li>
                        </ul>

                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div><br />

          </div>

          <div class="pricing">
            <h2>Pricing</h2>
            <div class="pricingSelector">
              <div id="monthlyPricing" class="active">Monthly</div>
              <div id="yearlyPricing">Yearly <span>(Save 20%)</span></div>
            </div>
            <div class="pricing-cards monthly">
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="pricing-cards yearly">
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Pricing option1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card card-styles">

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>

                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews">
            <h3>What people think about AppName</h3>
            <div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="padding: 50px 150px;">
                  <div class="carousel-item active">
                    <div class="d-block w-100">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum vel illo
                      voluptas. Exercitationem quia vel error tenetur, eum blanditiis harum est, nostrum deleniti,
                      dolore distinctio sunt quae? Ullam, vitae cum.</div>
                  </div>
                  <div class="carousel-item">
                    <div class="d-block w-100">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum vel illo
                      voluptas. Exercitationem quia vel error tenetur, eum blanditiis harum est, nostrum deleniti,
                      dolore distinctio sunt quae? Ullam, vitae cum.</div>
                  </div>
                  <div class="carousel-item">
                    <div class="d-block w-100">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum vel illo
                      voluptas. Exercitationem quia vel error tenetur, eum blanditiis harum est, nostrum deleniti,
                      dolore distinctio sunt quae? Ullam, vitae cum.</div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>

          <div class="appNameTeam">
            <h1>About us</h1>
          </div>
        </section>

      </div>
      <footer>

      </footer>
    </div>

    <!-- The Modal -->
    <div class="modal " id="myModalRegister">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

            <div class="row">
              <div class="col-lg-10 col-xl-10 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">

                    <form class="registrationForm form-signin">
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                        <label for="inputEmail">Email address</label>
                      </div>

                      <hr>

                      <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                      </div>

                      <div class="form-label-group">
                        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password"
                          required>
                        <label for="inputConfirmPassword">Confirm password</label>
                      </div>

                      <button id="userEmailRegister"
                        class="btn btn-lg btn-primary btn-block text-uppercase">Register</button>
                      <div class="d-block text-center mt-2 small" data-toggle="modal" data-target="#myModalLogin"
                        data-dismiss="modal">
                        Already a member? Signin
                      </div>

                      <hr class="my-4">
                      <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                          class="fab fa-google mr-2"></i> Sign up with Google</button>

                    </form>
                    <div style="display:none" class="subscriptionOptions">
                      <button class="btn" id="backButton">Back</button>
                      <div  class="subScriptionOptionsList">


                        <div class="singleSubscription">
                          <h3>Parent</h3>
                          <div>
                            Upto 5 users
                          </div>
                          <button class="btn btn-block btn-lg btn-primary selectSubsc" data-suboption="SP">Select</button>
                        </div>
                        <div class="singleSubscription">
                          <h3>Teacher</h3>
                          <div>
                            Upto 50 users
                          </div>
                          <button class="btn btn-block btn-lg btn-primary selectSubsc" data-suboption="TP">Select</button>
                        </div>
                        <div class="singleSubscription">
                          <h3>Institution</h3>
                          <div>
                            Upto 500 users
                          </div>
                          <button class="btn btn-block btn-lg btn-primary selectSubsc" data-suboption="OP">Select</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal " id="myModalLogin">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Login</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

            <div class="row">
              <div class="col-lg-10 col-xl-10 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">

                    <form class="form-signin">
                      <div class="form-label-group">
                        <input type="text" id="inputUserame2" class="form-control" placeholder="Username/Email address"
                          required autofocus>
                        <label for="inputUserame2">Username/Email address</label>
                      </div>



                      <hr>

                      <div class="form-label-group">
                        <input type="password" id="inputPassword2" class="form-control" placeholder="Password" required>
                        <label for="inputPassword2">Password</label>
                      </div>


                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                      <div class="d-block text-center mt-2 small" data-toggle="modal" data-target="#myModalRegister"
                        data-dismiss="modal">
                        Not a member yet? Register
                      </div>

                      <hr class="my-4">
                      <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                          class="fab fa-google mr-2"></i> Sign in with Google</button>

                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>